@model IEnumerable<SmartDataHub.Models.CycleMachineConfiguration>
@{
    ViewData["Title"] = "Index";
}


<html>

<head>
    @*<meta name="viewport" content="width=device-width" />
        <title>DeviceMonitoring</title>

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <link href="~/css/deviceMonitoring.css" rel="stylesheet" />
        <script src="~/lib/signalr-client-1.0.0-alpha2-final.min.js"></script>*@

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/machineOverview.css" rel="stylesheet" />
    <script src="~/lib/SignalR/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <link href="~/css/allViews.css" rel="stylesheet" />
</head>



<body>



    <script>
        $(document).ready(function () {


            let hubConnection = new signalR.HubConnection('/SmartDataSignalRhub');

            hubConnection.on('PublishActualCycleMachineData', function (machineId, machineData) {

                var idMachineState = "#machineState_" + machineId;
                var idCycleCounterValue = "#cycleCounterValue_" + machineId;
                var idCycleTimeValue = "#cycleTimeValue_" + machineId;
                var idStateDurationValue = "#stateDurationValue_" + machineId;


                $(idMachineState).text(machineData.machineState);
                $(idCycleCounterValue).text(machineData.dailyCycleCounter);
                $(idCycleTimeValue).text(machineData.cycleTime);
                $(idStateDurationValue).text(machineData.stateDuration);

                if (machineData.machineState == "Running") {
                    $(idMachineState).removeClass("machineStateLabel");
                    $(idMachineState).removeClass("machineStateRunning");
                    $(idMachineState).removeClass("machineStateStopped");
                    $(idMachineState).removeClass("machineStateUnknown");

                    $(idMachineState).addClass("machineStateRunning");
                }


                else if (machineData.machineState == "Stopped") {
                    $(idMachineState).removeClass("machineStateLabel");
                    $(idMachineState).removeClass("machineStateRunning");
                    $(idMachineState).removeClass("machineStateStopped");
                    $(idMachineState).removeClass("machineStateUnknown");

                    $(idMachineState).addClass("machineStateStopped");
                }


                else {
                    $(idMachineState).removeClass("machineStateLabel");
                    $(idMachineState).removeClass("machineStateRunning");
                    $(idMachineState).removeClass("machineStateStopped");
                    $(idMachineState).removeClass("machineStateUnknown");

                    $(idMachineState).addClass("machineStateUnknown");
                }





            });




            hubConnection.on('NoConnectionToGatewayHub', function () {

                $("#connectionState").text("no connection to main server");

            });


            hubConnection.on('Heartbeat', function () {

                $("#connectionState").text("");

            });




                 hubConnection.start()
            .then(() => {
                $(".machineStateLabel").addClass("machineStateUnknown");

            });

          

        });
    </script>

























    <h2>Machine Overview</h2>
    <h3 id="connectionState"></h3>


    @foreach (var item in Model)
    {




        <div id="machine-table" class="clear">
            <div class="plan">
                <h3>@Html.DisplayFor(modelItem => item.MachineName)</h3>
                <label id="machineState_@Html.DisplayFor(modelItem => item.CycleMachineConfigurationId)" class="machineStateLabel">Unknown</label>

                <table>

                    <tr>

                        <td>
                            <b>Cycle Counter</b>
                        </td>

                        <td id="cycleCounterValue_@Html.DisplayFor(modelItem => item.CycleMachineConfigurationId)" class="cycleCounterValue">
                            -
                        </td>

                    </tr>

                    <tr>

                        <td>
                            <b>Cycle Time </b>
                        </td>

                        <td id="cycleTimeValue_@Html.DisplayFor(modelItem => item.CycleMachineConfigurationId)" class="cycleTimeValue">
                            -
                        </td>
                    </tr>

                    <tr>

                        <td>
                            <b>State Duration </b>
                        </td>

                        <td id="stateDurationValue_@Html.DisplayFor(modelItem => item.CycleMachineConfigurationId)" class="stateDurationValue">
                            -
                        </td>

                    </tr>


                </table>



            </div>

        </div>







    }


</body>
</html>

