@model IEnumerable<SmartDataHub.Models.Machine>
@{
    ViewData["Title"] = "Index";
}

<html>

<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link href="~/css/machineOverview.css" rel="stylesheet" />
    <script src="~/lib/SignalR/signalr-client-1.0.0-alpha2-final.min.js"></script>
    <link href="~/css/allViews.css" rel="stylesheet" />
</head>

<body>

    <script>
        $(document).ready(function () {

            let hubConnection = new signalR.HubConnection('/SmartDataSignalRhub');

            hubConnection.on('PublishActualMachineData', function (actualMachineData) {

                var machineId = actualMachineData.machineId;

                var idMachineState = "#machineState_" + machineId;
                var idCycleCounterValue = "#cycleCounterValue_" + machineId;
                var idCycleTimeValue = "#cycleTimeValue_" + machineId;
                var idStateDurationValue = "#stateDurationValue_" + machineId;


                $(idMachineState).text(actualMachineData.machineState);
                $(idCycleCounterValue).text(actualMachineData.dailyCycleCounter);
                $(idCycleTimeValue).text(actualMachineData.lastCycleTime);
                $(idStateDurationValue).text(actualMachineData.stateDuration);

                if (actualMachineData.machineState == "Running") {
                    $(idMachineState).removeClass("machineStateLabel");
                    $(idMachineState).removeClass("machineStateRunning");
                    $(idMachineState).removeClass("machineStateStopped");
                    $(idMachineState).removeClass("machineStateUnknown");

                    $(idMachineState).addClass("machineStateRunning");
                }

                else if (actualMachineData.machineState == "Stopped") {
                    $(idMachineState).removeClass("machineStateLabel");
                    $(idMachineState).removeClass("machineStateRunning");
                    $(idMachineState).removeClass("machineStateStopped");
                    $(idMachineState).removeClass("machineStateUnknown");

                    $(idMachineState).addClass("machineStateStopped");
                }

                else {
                    $(idMachineState).removeClass("machineStateLabel");
                    $(idMachineState).removeClass("machineStateRunning");
                    $(idMachineState).removeClass("machineStateStopped");
                    $(idMachineState).removeClass("machineStateUnknown");

                    $(idMachineState).addClass("machineStateUnknown");
                }
            });

            hubConnection.on('NoConnectionToGatewayHub', function () {

                $("#connectionState").text("no connection to master SmartAgent");

            });

            hubConnection.on('ConnectionToGatewayHubEstablished', function () {

                $("#connectionState").text("");

            });

            hubConnection.start()
                .then(() => {
                    $(".machineStateLabel").addClass("machineStateUnknown");

                });
        });
    </script>

    <h2>Machine Overview</h2>
    <h3 id="connectionState"></h3>

    @foreach (var item in Model)
    {
        <div id="machine-table" class="clear">
            <div class="plan">
                <h3>@Html.DisplayFor(modelItem => item.MachineName)</h3>
                <label id="machineState_@Html.DisplayFor(modelItem => item.MachineId)" class="machineStateLabel">Unknown</label>

                <table>
                    <tr>
                        <td>
                            <b>Cycle Counter</b>
                        </td>
                        <td id="cycleCounterValue_@Html.DisplayFor(modelItem => item.MachineId)" class="cycleCounterValue">
                            -
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <b>Cycle Time </b>
                        </td>

                        <td id="cycleTimeValue_@Html.DisplayFor(modelItem => item.MachineId)" class="cycleTimeValue">
                            -
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>State Duration </b>
                        </td>
                        <td id="stateDurationValue_@Html.DisplayFor(modelItem => item.MachineId)" class="stateDurationValue">
                            -
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</body>
</html>
