@model SmartDataHub.Models.Machine

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MachineId" />
            <div class="form-group">
                <label asp-for="SmartAgentId" class="control-label"></label>
                <select asp-for="SmartAgentId" class="form-control" asp-items="ViewBag.SmartAgentId"></select>
                <span asp-validation-for="SmartAgentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineName" class="control-label"></label>
                <input asp-for="MachineName" class="form-control" />
                <span asp-validation-for="MachineName" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                <input asp-for="MachineId" class="form-control" />
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CycleInputPin" class="control-label"></label>
                <input asp-for="CycleInputPin" class="form-control" />
                <span asp-validation-for="CycleInputPin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineStateTimeOut" class="control-label"></label>
                <input asp-for="MachineStateTimeOut" class="form-control" />
                <span asp-validation-for="MachineStateTimeOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublishingIntervall" class="control-label"></label>
                <input asp-for="PublishingIntervall" class="form-control" />
                <span asp-validation-for="PublishingIntervall" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
