@{
    ViewData["Title"] = "bfa solutions";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Industriestrasse 1<br />
    8117 Fällanden<br />
    <abbr title="Phone">P:</abbr>
    +41 44 806 64 46 
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@bfa.ch">support@bfa.ch</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@bfa.ch">marketing@bfa.ch</a>
</address>
